{% extends 'base.html' %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>AWARDSS - {{title}}</title>
    {% else %}
    <title> AWARDSS</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    {{block.super}}
    <div>
        <div class="">
            <div style="background:black;">
                <div>
                    <div style="margin-left:70px">
                        <button class="btn btn-success btn-sm" id="site" data-toggle="modal" data-target=".bd-example-modal-xl" style="margin-top:40px;">
                            Submit your Project
                        </button>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col">
                        <div style="display:flex; flex-direction:row; justify-content:center;margin-top:150px;">
                            <div class="card" style="width: 40rem;box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); border-radius: 10px;padding:15px; color:white;">
                                <h5 class="card-title" style="color:black; font-family:sans serif;font-size:18px;">Title: {{random_post.title}}</h5>
                                <img class="" src="{{random_post.pic.url}}"  width="250" height="250" alt="">
                                <div class="card-body"> 
                                <p style="margin-top:20px;font-size:18px;">Rating: <span style="color:#9950AE; margin-right:20px;">Design:</span><span style="color:#ED5D3E; margin-right:20px;">Usability:</span><span style="color:#F7BC6F; margin-right:20px;">Content:</span></p>
                                <p style="color:black; font-family:sans serif;font-size:14px;">{{random_post.description}}</p>
                                <p style="color:black; font-family:sans serif;font-size:18px;">Technologies: {{random_post.technologies}}</p>
                                <h5>Posted by:{{random_post.user.username}}</h5>
                                <small class="text-muted">Posted {{random_post.posted_at|timesince}} ago</small>
                                <p><a href="{{random_post.url}}" class="btn btn-primary">View Site</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <div class="container">
        <h3 class="text-center" style="margin-bottom:45px;margin-top:40px; font-family:sans serif;color:#5CB85C;">Projects Avaliable for Rating</h3>

        {% if user.is_authenticated %}
        <!-- Modal goes here-->
        <div class="modal fade bd-example-modal-xl" id="ModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload a project</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <br>
                            <input type="submit" class="btn btn-sm btn-info" value="Save"/>
                            <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal">Close
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% if posts %}
            {% for post in posts %}
            <div class="col-md-4 col-lg-6">
                <div class="card" style=" box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9); border-radius: 10px; padding:10px; margin-bottom:15px; margin-right:50px;">

                    
                    <div class="card-body">
                        <div  style="">
                            <a href="{%url 'project' post.title %}"><h5 class="card-title text-center"><Span style="font-size:16px;font-family:sans serif; font-weight:bold;color:black;">Project Title: </Span><span style="color:black; font-family:sans serif;font-size:18px;">{{post.title|title}}</span></h5></a>
                        
                            <p class="card-text"><img src="{{post.pic.url}}" class="nav-img mr-2" alt=""></p>
                            <br>
                            <p style="color:black; font-family:sans serif;font-size:14px;">{{post.description}}</p>
                            <p style="color:black; font-family:sans serif;font-size:18px;">Technologies: {{post.technologies}}</p>
                            <p style="font-family:sans serif;font-size:16px;">Posted by: <img class="rounded-circle nav-img" src="{{ user.profile.profile_pic.url }}" alt="image" height="30" width="30" style="border-radius:50%;"> {{post.user.username|title}}</p>
                            <p>{{post.posted_at|timesince}} ago</p>
                            <a href="{{post.url}}" class="btn btn-primary">View</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
{%endblock%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>

