{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<div class="container">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card card-inverse">
                <img class="card-img rounded-0" src="https://placeimg.com/800/400/nature/grayscale" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{post.title}}</h4>
                    <h5>Posted by:{{post.user.username}}</h5>
                    <small class="text-muted">Posted {{post.posted_at|timesince}} ago</small>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {% for rating in post.ratings.all %}
                    {% if forloop.counter is post.ratings.all.count %}
                    <div>
                        <p>Design: <span>{{ rating.design_average}}</span></p>
                        <p>Usability: <span>{{ rating.usability_average }}</span></p>
                        <p>Content: <span>{{ rating.content_average }}</span></p>
                    </div>
                    <div>
                        Score: {{rating.total_average_score}}
                    </div>
                    
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="box-bl">
                    <a href="{{random_post.url}}" data-identifier="" data-type="submission" class="js-visit-item bt-default red-fill" target="_blank" rel="noopener nofollow">View Site</a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h3>Rated Projects</h3>
</div>

{% endblock %}